* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
p a {
  font-size: 15px;
  color: #555555;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
#datetime-picker {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  margin-top: 150px;
  color: #555555;
  border: 2px solid #555555;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timer {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: #555555;
  font-size: 25px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.value {
  font-size: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: baseline;
  align-items: center;
  margin-top: 100px;
}
.form button {
  width: 200px;
  height: 50px;
  /* background-color: white; */
  color: #555555;
  border: 2px solid #555555;
  border-radius: 4px;
  font-size: 20px;
}
.form label {
  font-size: 25px;
  color: #555555;
}
.form input {
  width: 120px;
}
button {
    /*    */
}
button:hover {
  cursor: pointer;
  background-color: #ebe3e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
